html {
  --tulip-font-size-30: 30px;
  --tulip-line-height-30: 1.333;
  --tulip-font-size-29: 29px;
  --tulip-line-height-29: 1.31;
  --tulip-font-size-28: 28px;
  --tulip-line-height-28: 1.321;
  --tulip-font-size-27: 27px;
  --tulip-line-height-27: 1.333;
  --tulip-font-size-26: 26px;
  --tulip-line-height-26: 1.346;
  --tulip-font-size-25: 25px;
  --tulip-line-height-25: 1.36;
  --tulip-font-size-24: 24px;
  --tulip-line-height-24: 1.375;
  --tulip-font-size-23: 23px;
  --tulip-line-height-23: 1.391;
  --tulip-font-size-22: 22px;
  --tulip-line-height-22: 1.409;
  --tulip-font-size-21: 21px;
  --tulip-line-height-21: 1.429;
  --tulip-font-size-20: 20px;
  --tulip-line-height-20: 1.45;
  --tulip-font-size-19: 19px;
  --tulip-line-height-19: 1.474;
  --tulip-font-size-18: 18px;
  --tulip-line-height-18: 1.5;
  --tulip-font-size-17: 17px;
  --tulip-line-height-17: 1.5;
  --tulip-font-size-16: 16px;
  --tulip-line-height-16: 1.5;
  --tulip-font-size-15: 15px;
  --tulip-line-height-15: 1.5;
  --tulip-font-size-14: 14px;
  --tulip-line-height-14: 1.5;
  --tulip-font-size-13: 13px;
  --tulip-line-height-13: 1.5;
  --tulip-font-size-12: 12px;
  --tulip-line-height-12: 1.5;
  --tulip-font-size-11: 11px;
  --tulip-line-height-11: 1.5;
}

$fontSize30: var(--tulip-font-size-30);
$lineHeight30: var(--tulip-line-height-30);
$fontSize29: var(--tulip-font-size-29);
$lineHeight29: var(--tulip-line-height-29);
$fontSize28: var(--tulip-font-size-28);
$lineHeight28: var(--tulip-line-height-28);
$fontSize27: var(--tulip-font-size-27);
$lineHeight27: var(--tulip-line-height-27);
$fontSize26: var(--tulip-font-size-26);
$lineHeight26: var(--tulip-line-height-26);
$fontSize25: var(--tulip-font-size-25);
$lineHeight25: var(--tulip-line-height-25);
$fontSize24: var(--tulip-font-size-24);
$lineHeight24: var(--tulip-line-height-24);
$fontSize23: var(--tulip-font-size-23);
$lineHeight23: var(--tulip-line-height-23);
$fontSize22: var(--tulip-font-size-22);
$lineHeight22: var(--tulip-line-height-22);
$fontSize21: var(--tulip-font-size-21);
$lineHeight21: var(--tulip-line-height-21);
$fontSize20: var(--tulip-font-size-20);
$lineHeight20: var(--tulip-line-height-20);
$fontSize19: var(--tulip-font-size-19);
$lineHeight19: var(--tulip-line-height-19);
$fontSize18: var(--tulip-font-size-18);
$lineHeight18: var(--tulip-line-height-18);
$fontSize17: var(--tulip-font-size-17);
$lineHeight17: var(--tulip-line-height-17);
$fontSize16: var(--tulip-font-size-16);
$lineHeight16: var(--tulip-line-height-16);
$fontSize15: var(--tulip-font-size-15);
$lineHeight15: var(--tulip-line-height-15);
$fontSize14: var(--tulip-font-size-14);
$lineHeight14: var(--tulip-line-height-14);
$fontSize13: var(--tulip-font-size-13);
$lineHeight13: var(--tulip-line-height-13);
$fontSize12: var(--tulip-font-size-12);
$lineHeight12: var(--tulip-line-height-12);
$fontSize11: var(--tulip-font-size-11);
$lineHeight11: var(--tulip-line-height-11);

@mixin font-size($fontSize) {
  $fontSizeNumber: strip-unit($fontSize);

  font-size: $fontSize;
  font-size: var(--tulip-font-size-#{$fontSizeNumber});
}